
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    height: 67.27px;
}

.back-btn {
    background: #006FBB;
    color: #FFFFFF;
    width: 100px;
    height: 41px;
    border: none;
    border-radius: 5px;
    margin-right: 11px;
}

.detail-image {
    width: 587px;
    border-radius: 25px;
    margin-right: 25px;
    margin-top: 17px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    margin-top: 0px;
}

.text-content {
    width: 828px;
}


.card body {
    background-color: burlywood;
}

.outer {
    margin-left: 00px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 15px #B0ACAC;
    padding-bottom: 13px;
    padding-left: 30px;
}

.text {
    margin-top: 25px;
    color: #7A7272;
}

.hashtag {
    color: #B0ACAC;
}

.tittle {
    margin-top: 17px;
}

@media screen and (max-device-width: 850px) {
    .detail-image {
        width: 340px;
        height: 250px;
    }

    .content {
        display: flex;
    }

    .text {
        margin-top: 15px;
    }

    .text-content {
        top: 100px;
        width: 500px;
        height: 260px;
    }
}

@media screen and (max-device-width: 450px) {
    .detail-image {
        width: 240px;
        height: 150px;
    }

    .content {
        width: 350px;
        height: 450px;
        display: flex;
        flex-direction: column-reverse;
    }

    .text {
        margin-top: 15px;
    }

    .text-content {
        width: 400px;
        height: 260px;
    }
}